body {
  color: #707070;
  background-color: #F9F9F9;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* Media Queries */
@media (max-width: 950px) {
  #app {
    flex-direction: column;
  }
}