.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F9F9;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  width: 300px;
}

.header-social {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  min-width: 200px;
  height: 10%;

  a {
    outline: none;
    text-decoration: none;
  }

  .header-social-icon {
    cursor: pointer;
    fill: #707070;
  
    &:hover {
      fill: #9f9f9f;
    }
  }
}

.header-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
  
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin: 0px;
      padding: 0px;
    }
  
    li {
      list-style: none;
      padding: 45px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
  
      a {
        color: #707070;
        outline: none;
        text-decoration: none;
      }
    }
  }

  .header-label {
    margin: 0px;
    font-weight: 300;
    font-size: 1em;
    cursor: pointer;
  }
  
  .header-indicator {
    padding: 0px 5px 0px 0px;
    cursor: pointer;
  }
}

.header-top-container {
  display: flex;
  width: 100%;
  height: 120px;
  align-items: center;
  padding: 25px 0px 0px 25px;
  box-sizing: border-box;

  a {
    color: #707070;
    outline: none;
    text-decoration: none;
  }

  .header-icon {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -2px 2px 5px #dbdbdb, 2px -2px 5px #ffffff;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
  }
}

/* Media Queries */
@media (max-width: 950px) {
  .header-container {
    align-items: center;
    height: 200px;
    width: 100%;
    margin: 0px 0px 25px 0px;
  }

  .header-social {
    width: 25%;
    height: 40px;
  }

  .header-nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40px;

    nav {
      height: 50px;
    
      ul {
        flex-direction: row;
        align-items: center;
      }
    
      li {
        padding: 0px 15px;
      }
    }
  }

  .header-top-container {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;

    .react-toggle {
      left: 0;
    }
  }
}

@media (max-width: 680px) {
  .header-label {
    display: none;
  }
}