.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0px 0px 0px 300px;
  overflow-y: auto;
  position: relative;
  z-index: 0;
  scroll-behavior: smooth;
}


/* Media Queries */
@media (max-width: 950px) {
  .main {
    height: 100%;
    margin: 200px 0px 0px 0px;
  }
}

@media (max-width: 680px) {
  .header-label {
    display: none;
  }

}